header {
  background-color: hsl(80, 13%, 61%);
  text-align: center;
  padding: 20px;
}
a {
  text-decoration: none;
  font-weight: bold;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 4rem;
  text-align: center;
  color: hsl(72, 6%, 5%);
}
header h2 {
  font-family: 'Yellowtail', cursive;
  font-size: 2rem;
  text-align: center;
  color: hsl(51, 8%, 30%);
}
header h3 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 3rem;
}

.page {
  width: 70%;
  background-color: rgba(243, 244, 245, 0.85);
  margin-left: 15%;
  padding-bottom: 30px;
}
video {
  max-width: 90%;
  max-height: 500px;

}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container.plywood, .container.foam{
  flex-direction: row;
  justify-content: space-between;
}
.container.plywood.right, .container.foam.right {
  flex-direction: column;
  max-width: 50%;
}
.container h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 2.5rem;
  padding: 1rem 0;
}

.title {
  max-width: 80%;
  text-align: center;
}
.container.plywood, .container.foam {
  max-width: 80%;
}

.notes h3, .services h3 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.2rem;
  padding: 10px 0;
}

img {
  max-width: 90%;
  max-height: 500px;

}
body {
  background-image: url("../images/wooden-floor-boards.jpg");
  background-position: center;
  background-size: cover;
}
footer {
  text-align: center;
  font-family: 'Bitter', serif;
  color: #2B2E28;
  background-color: hsl(80, 13%, 61%);
  padding: 50px 0;
}
@media only screen and (max-width: 812px) {
  .container {
    text-align: center;
    max-width: 100%;
  }
  .container.foam.left, img {
    max-width: 100%
  }
  .container.foam, .container.plywood {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
  header h1 {
    font-size: 3rem;
    padding-top: 20px;
  }
  p {
  font-size: 1.5rem;
  }
  .plywood.video, video {
  max-width: 100%;

  }
}
