header {
  background-color: hsl(80, 13%, 61%);
}
a {
  text-decoration: none;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 4rem;
  text-align: center;
  color: hsl(72, 6%, 5%);
}
header h2 {
  font-family: 'Yellowtail', cursive;
  font-size: 2rem;
  text-align: center;
  color: hsl(51, 8%, 30%);
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.video.banner {
  text-align: center;
  height: 200px;
  width: 50%;
}
.content {
  padding: 10px 40px 0 40px;
  max-width: 70%;
  font-family: 'Bitter', serif;
}
.content h1 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
.content p {
  padding-top: 10px;
}
.samples {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container.buttons {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
}
.project h1 {
  color: white;
  font-size: 3rem;
  text-shadow: -2px 2px 0 #2B2E26,
				        2px 2px 0 #2B2E26,
				        2px -2px 0 #2B2E26,
				       -2px -2px 0 #2B2E26;
}
.project {
  background-position: center;
  background-size: contain;
  background-repeat:no-repeat;
  border-radius: 5px;
  border: 1px #2B2E26 solid;
  min-width: 300px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.project.small {
  background-image: url("../images/247 Bernese Mtn Dog.jpg");
}
.project.medium {
  background-image: url("../images/St Arn Sign.jpg");
  background-size:cover;
}
.project.large {
  background-image: url("../images/Foam.jpg");
  background-size:cover;
}
footer {
  text-align: center;
  font-family: 'Bitter', serif;
  color: #2B2E28;
  background-color: hsl(80, 13%, 61%);
  padding: 50px 0;
  margin-top: 2rem;
}
