header {
  background-color: hsl(80, 13%, 61%);
  text-align: center;
  padding: 20px;
}
a {
  text-decoration: none;
  font-weight: bold;
}
h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 4rem;
  color: hsl(72, 6%, 5%);
  text-align: center;
}
h2 {
  font-family: 'Yellowtail', cursive;
  font-size: 2rem;
  text-align: center;
  color: hsl(51, 8%, 30%);
}
header h3 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 3rem;
}
body {
  background-image: url("../images/wooden-floor-boards.jpg");
  background-position: center;
  background-size: cover;
}
.page {
  width: 70%;
  background-color: rgba(243, 244, 245, 0.85);
  margin-left: 15%;
  padding-bottom: 30px;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(200, 200, 200, 0.85);
}
nav h1 {
  font-size: 1.5rem;
  padding: 10px;
  color: hsl(72, 6%, 25%);
}
nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 25%;
  border: 1px solid rgba(180, 180, 180, 1);
}
nav a:hover{
  background-color: rgba(180, 180, 180, 0.85)
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 2.5rem;
  padding: 1rem 0;
  text-align: center;
}
.step {
  text-align:   center;
}
.step img {
  max-height:300px;
  max-width: 100%;
}
.step h3 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 1rem;
  padding: 10px;
}
.container.process {
  flex-direction: row;
  justify-content:space-around;
  width: 80%;
  flex-wrap: wrap;
}
.notes, .services, .result {
  width: 80%;
}
.notes h3, .services h3, .result h3 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.2rem;
  padding: 10px 0;
}
.notes p, .services p, .result p {
  font-family: "Bitter", serif;
  font-size: 1rem;
}
.spacer {
  flex-direction: row;
  justify-content: center;
  max-width: 80%;
}

.oval img {
  max-height: 350px;
  padding-top: 10px;
}
.title {
  max-width: 80%;
  text-align: center;
}
footer {
  text-align: center;
  font-family: 'Bitter', serif;
  color: #2B2E28;
  background-color: hsl(80, 13%, 61%);
  padding: 50px 0;
}
@media only screen and (max-width: 1130px){
  nav {
    display: none;
  }
  body {
    background-image: none;
  }
  .page {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .spacer {
    flex-direction: column;
    max-width: 100%;
  }
  header h1 {
    font-size: 3rem;
    padding-top: 20px;
  }
.content p {
  font-size: 2rem;
}
}
